

.counter {
  text-align: center;
  color: blue;
}

h1 {
  text-align: center;
}

.btn {
  margin: 30px;
}

.buttons {
  float: center;
  margin: 25px;
  text-align: center;
  margin: auto;
}

#count {
  font-size: 100px;
}

.red {
  color: red;
}
